<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="icon" type="image/png" href="/logoSmall.png">
	<link rel="stylesheet" type="text/css" href="/css/animate.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/line-awesome.css">
	<link rel="stylesheet" type="text/css" href="/css/line-awesome-font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" type="text/css" href="/lib/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="/lib/slick/slick-theme.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/responsive.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body oncontextmenu="return false;">
	<div class="wrapper">
		<header>
			<div class="container">
				<div class="header-data">
					<div class="logo">
						<a href="/">
							<h1 class="headerLogo">PlanFrank </h1>
						</a>
					</div>
					<div class="user-account">
						<div class="user-info">
							<img src="/logoSmall.png" height="30" alt="">
							<a href="javascript:void(0);" title=""><%= userInfo.name %></a>
							<i class="la la-sort-down"></i>
						</div>
						<div class="user-account-settingss" style="display: none;">
							<ul class="us-links">
								<li><a href="/plan/makePlan" title="">Make New Plan</a></li>
								<!-- <li><a href="javascript:void(0);" title="">Account Settings</a></li> -->
								<!-- <li><a href="/plan/privacy" title="">My Profile</a></li> -->
								<li><a href="/plan/privacy" title="">Privacy Policy</a></li>
								<li><a href="/plan/terms&condition" title="">Terms &amp; Conditions</a></li>
							</ul>
							<h3 class="tc"><a href="/logout" title="">Logout</a></h3>
						</div>
					</div>
				</div>
			</div>
		</header>