<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="icon" type="image/png" href="/logoSmall.png">
	<link rel="stylesheet" type="text/css" href="/css/animate.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/line-awesome.css">
	<link rel="stylesheet" type="text/css" href="/css/line-awesome-font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/fontawesome-free/css/all.min.css"  >
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/lib/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="/lib/slick/slick-theme.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/responsive.css">
</head>
<body class="sign-in" oncontextmenu="return false;">
	<div class="wrapper">
		<div class="sign-in-page">
			<div class="signin-popup">
				<div class="signin-pop">
					<div class="row">
						<div class="col-lg-6">
							<div class="cmp-info">
								<div class="cm-logo">
									<img src="/logo.jpg" alt="Planfrank">
                                    <p class="text-center">Let's Tag Along !!!</p>
									<p class="text-center">Find Share & Join the plans that Interest you the most !!!</p>
									<p class="text-center"><%= data %></p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="login-sec">
								<ul class="sign-control">
									<li data-tab="tab-1" class="current"><a href="javascript:void(0);" title="">Sign in</a></li>
									<li data-tab="tab-2"><a href="javascript:void(0);" title="">Sign up</a></li>
								</ul>
								<div class="sign_in_sec current" id="tab-1">
									<h3>Sign in</h3>
									<form id="signIn" action="/auth/authLogin" method="post">
										<div class="row">
											<div class="col-lg-12 no-pdd">
												<div class="sn-field">
													<input type="text" name="username" placeholder="Username">
													<i class="la la-user"></i>
												</div>
											</div>
											<div class="col-lg-12 no-pdd">
												<div class="sn-field">
													<input type="password" name="password" placeholder="Password">
													<i class="la la-lock"></i>
												</div>
											</div>
                                            <div class="col-lg-12 no-pdd">
                                                <div class="checky-sec st2">
                                                    <div class="fgt-sec">
														<small id="errText"></small>
                                                    </div>
                                                </div>
                                            </div>
											<div class="col-lg-12 no-pdd">
												<button type="submit" value="submit">Sign in</button>
                                            </div>
                                            <div class="col-lg-12 no-pdd">
												<div class="checky-sec">
                                                    <a href="javascript:void(0);" title="">Forgot Password?</a>
                                                </div>
                                            </div>
										</div>
                                    </form>
								</div>
								<div class="sign_in_sec" id="tab-2">
									<div class="dff-tab current" id="tab-3">
                                        <h3>Sign Up</h3>
										<form id="signUp" action="/auth/registerUser" method="post">
											<div class="row">
												<div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="text" name="name" placeholder="Full Name">
														<i class="la la-user"></i>
													</div>
												</div>
												<div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="text" name="username" placeholder="Enter Username">
														<i class="la la-user"></i>
													</div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="email" name="email" placeholder="Email Id">
														<i class="la la-envelope-o"></i>
													</div>
												</div>
                                                <div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="text" name="mobile" placeholder="Mobile Number">
														<i class="la la-mobile-phone"></i>
													</div>
												</div>
												<div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="password" name="password" placeholder="Password">
														<i class="la la-lock"></i>
													</div>
												</div>
												<div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="password" name="repeatpassword" placeholder="Repeat Password">
														<i class="la la-lock"></i>
													</div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
													<div class="checky-sec st2">
														<div class="fgt-sec">
															<small id="regisError"></small>
														</div>
													</div>
												</div>
												<div class="col-lg-12 no-pdd">
													<button type="submit" value="submit">Get Started</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/popper.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/slick/slick.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#signIn').submit(function() {
                $(this).ajaxSubmit({
                    error: function(xhr) {
                        status('Error: ' + xhr.status);
                    },
                    success: function(response) {
                        let status = response.status;
                        if(status == 1)
                        {
							// $("#signIn").trigger("reset");
							window.location.href = response.url;
                        }
                        else if(status == 0)
                        {
                            $("#errText").html(response.message)
						}
						else if(status == 3){
							let errorData = response.errors;
							let html = ''
							$.each(errorData, function (key, e) 
							{
								html += `<li> ${e} </li>`
							})
							$("#errText").html(html)
						}
                    }
                });
                return false;
            });

            $('#signUp').submit(function() {
                $(this).ajaxSubmit({
                    error: function(xhr) {
                        status('Error: ' + xhr.status);
                    },
                    success: function(response) {
                        let status = response.status;
                        if(status == 1)
                        {
                            $("#regisError").html(response.message)
                            $("#signUp").trigger("reset");
                        }
                        else if(status == 0)
                        {
                            $("#regisError").html(response.message)
						}
						else if(status == 3){
							let errorData = response.errors;
							let html = ''
							$.each(errorData, function (key, e) 
							{
								html += `<li> ${e} </li>`
							})
							$("#regisError").html(html)
						}
                    }
                });
                return false;
			});
        });
    </script>
</body>
</html>
