<% layout('./layout') %>
<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-12 col-md-12 no-pd">
                        <div class="main-ws-sec">
                            <div class="post-project">
                                <h3>Create a Plan!!!</h3>
                                <div class="post-project-fields">
                                    <form id="planSubmit" action="/newsFeed/createPlan" method="post">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <input type="text" name="title" placeholder="Plan Title">
                                            </div>
                                            <div class="col-lg-12">
                                                <textarea name="description" placeholder="Detailed Plan Description"></textarea>
                                            </div>
                                            <div class="col-lg-4">
                                                <label style="color: #ff546a;padding: 5px;"> Plan Date </label>
                                                <input type="date" name="planDate" />
                                            </div>
                                            <div class="col-lg-4">
                                                <label><h4 style="color: #ff546a;padding: 5px;"> Plan Time Start's </h4></label>
                                                <input type="time" name="planTimeStart" />
                                            </div>
                                            <div class="col-lg-4">
                                                <label> <h4 style="color: #ff546a;padding: 5px;">Plan Time End's</h4> </label>
                                                <input type="time" name="planTimeEnd" />
                                            </div>
                                            <div class="col-lg-12">
                                                <label> <h4 style="color: #ff546a;padding: 5px;">Select Plan Category</h4> </label>
                                                <select name="planCategory" id="planCategory">
                                                    <option value="0">Select Category</option>
                                                    <% for(index in intrestList) {%>
                                                        <option value="<%= intrestList[index]._id%>||<%= intrestList[index].intrest_name %>"><%= intrestList[index].intrest_name %></option>
                                                    <% } %>
                                                </select>
                                            </div>
                                            <div class="col-lg-12">
                                                <textarea name="planLocation" placeholder="Enter Plan Location"></textarea>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="checky-sec st2">
                                                    <div class="fgt-sec">
                                                        <small id="errText"></small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <ul>
                                                    <li><button class="active" type="submit" value="post">Create Plan</button></li>
                                                    <li><a href="javascript:void(0);" title="">Cancel</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <a href="javascript:void(0);" title=""><i class="la la-times-circle-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</main>